{% extends "contenedor.html" %}

{% block content %}
<ul class="breadcrumb">
	<li class="pri">Te encuentras en: </li>
	<li class="active">Admin</li>
</ul>

<div class="row-fluid">
	<div class="span9">
		{% for dispo in disponibles %}
		<ul class="nav nav-list lista_categoria">
			
			<li class="nav-header">{{dispo.categoria}}</li>		
			{% for item in dispo.lista %}
			<li><a href="/admin/{{item.adminName}}">{{item.nombre}}</a>
				{% if not item.bloqueado %}
					<a href="/admin/{{item.adminName}}/-1" class="edit_mas"><i class="fa fa-plus"></i></a>
				{% endif %}
			</li>
			{% endfor %}

		</ul>
		{% endfor %}
	</div>
	 <div class="span3 visor_right"></div>
	
</div>
{% endblock %}