<div class="contenedor_tabla">
	{if $nav_flag}
	<div class="pagination">
		<ul>
			{if $nav}
				<li {if $actual}class="active"{/if}>
					<a href="?p={$numero}{if $url}&{$url}{/if}">{$numero}</a>
				</li>
			{/if}
		</ul>
	</div>
	{/if}
	<form method="get">
	
		<table class="table table-bordered table-condensed table-striped table-hover tabla_grilla">
			<tr class="cabecera_tabla">
				{foreach $cabecera item}
					<th>
						{$item}
					</th>
				{/foreach}
				<th></th>
			</tr>
			<tr class="filtros">
				{foreach $filtros item}
				<td>{$item}</td>
				{/foreach}
				<td class="td_refre">
					<a href="/admin/{$modelo}" class="btn btn_refrescar">
						<i class="fa fa-eraser"></i> 
					</a>
					<a href="/admin/{$modelo}/?excel=true{if $url}&{$url}{/if}" class="btn btn_excel">
						<i class="fa fa-file-text"></i>
					</a>
				<button type="submit" class="btn btn-mini btn-oculto">
					
				</button>
			</td>
			</tr>
			{foreach $datos item}
			<tr>
				{foreach $item.outputs otro}
					<td>{$otro}</td>
				{/foreach}
				<td class="iconos_edit">
					<a href="{$item.edit}" class="btn_editar h100">
						<i class="fa fa-pencil-square-o"></i>
					</a>
					{if !$item.bloqueado}
					<a href="{$item.edit}?borrar=1" class="btn_eliminar h100" onclick="return confirm('Seguro que desea Eliminar?')">
						<i class="fa fa-times"></i>
					</a>
					{/if}
				</td>
			</tr>
			{/foreach}
		</table>
	</form>
	{if $nav_flag}
	<div class="pagination">
		<ul>
			{foreach $nav item}
				<li {if $actual}class="active"{/if}>
					<a href="?p={$numero}{if $url}&{$url}{/if}">{$numero}</a>
				</li>
			{/foreach}
		</ul>
	</div>
	{/if}
</div>
